<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game.GameName }}</title>
</head>
<body>
    {{ game.GameName }}
    <br>
    Возрастное ограничение: {{ game.AgeRestricrion.Age }}
    <br>
    Цена: {{ game.Price }}
    <br>
    Статус продукта: {{ game.StatusId.StatusName }}
    <br>
    Издатель: <a href="{% url 'publisherpage' game.PublisherId.id %}">{{ game.PublisherId.PublisherName }}</a>
    <br>
    Разработчик: {% for DeveloperId in game.DeveloperId.all %}
                        {{ DeveloperId }}
                    {% endfor %}
    <br>
    Категория: {% for CategoryId in game.CategoryId.all %}
                        {{ CategoryId }}
                    {% endfor %}
    <br>
    Страна выпуска: {% for CountryId in game.CountryId.all %}
                        {{ CountryId }}
                    {% endfor %}
    <br>
    Есть русский язык: {% for LocalizationId in game.LocalizationId.all %}
                        {{ LocalizationId }}
                    {% endfor %}
    <br>
    <a href="{% url 'gameupdate' game.pk %}">Редактировать</a>
    <br>
    <a href="{% url 'gamedelete' game.pk %}">Удалить</a>
    <br>
    <a href="{% url 'main' %}">Назад</a>
</body>
</html>